/* ---------- RESET ---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  background-color: #131313;
  color: white;
}

/* ---------- BODY ---------- */

body {
  padding: 80px;
  height: 100vh;
}

.my-container {
  display: flex;
  gap: 10px;
  height: calc(100%);
  background-color: #131313;
}

/* ---------- STATIC / LEFT ---------- */

.static-content {
  padding: 0 30px;
  width: 40%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.static-content .name {
  text-decoration: none;
  font-weight: bold;
  color: #f87171;
}

.static-content .menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto 0;
}

.static-content .menu a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.menu a.menu-link {
  transition: all 0.2s ease;
}

.menu a.menu-link:hover {
  font-weight: 400;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.9);
}

.static-content .menu .icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.static-content .menu .icons a:hover {
  text-shadow: none;
  color: white !important;
  transition: all 0.3s linear;
}

.my-footer {
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  margin-left: 30px;
  margin-top: 5px;
}

/* ---------- SCROLLABLE /RIGHT ---------- */

.scrollable-content {
  width: 60%;
  height: calc(100%);
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  padding: 0 30px;
  color: white;
}

/* Scroll bar for Chrome, Edge, and Safari */
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: black;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid black;
}

/* Scroll bar for Firefox */
.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: #555 black;
}

/* ---------- GRID ---------- */

.webdev,
.yoga,
.bachelor,
.design,
.teaching,
.santillana,
.customer-service {
  display: grid;
  gap: 10px;
  grid-template-columns: max(130px) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "years title"
    "years descr";
}

.years {
  grid-area: years;
}

.title {
  grid-area: title;
}

.descr {
  grid-area: descr;
}

.title a:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
  transition: all 0.2s linear;
}

/* ---------- RESPONSIVE DESIGN || MOBILE ---------- */

@media screen and (max-width: 576px) {

  body {
    padding: 20px;
    overflow-y: hidden;
  }

  .my-container {
    /* height: calc(100% - 15px); */
    /* Makes bottom a bit more up */
    display: block;
    overflow: auto;
    /* background-color: lightblue; */
  }

  /* STATIC = HEADER + MENU */

  .static-content {
    position: fixed;
    padding: 0;
    height: 27%;
    width: calc(100%);
    /* background-color: yellow; */
    background-color: #131313;
  }

  /* MENU */

  .my-container .static-content nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    position: fixed;
    top: 17%;
    width: calc(100% - 40px);
    /* background-color: orange; */
  }

  .my-container .static-content nav .menu-link {
    border: 1px solid white;
    border-radius: 5px;
  }

  /* .my-container .static-content nav {
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 18.5%;
    width: calc(100% - 59.5px);
    padding-top: 10px;
    background-color: orange;
  } */

  .my-container .static-content .menu a {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  .my-container .static-content header .menu .icons {
    margin-top: 0;
    padding: 0;
    margin: 0;
  }

  .my-container .static-content header {
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .my-container .static-content header a {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .my-container .static-content header .role {
    font-size: 1.4rem;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }

  .my-container .static-content header .role-descr {
    font-size: 0.95rem;
    line-height: 18px;
    padding: 0;
    margin: 0;
  }

  .my-container .scrollable-content {
    /* flex: 1 1 auto;  */
    /*Allows the scrollable content to take up remaining space*/
    padding: 0;
    padding-top: 210px;
    overflow-y: auto;
    width: 100%;
    /* margin-top: 280px; */
    /* background-color: red; */
  }

  .webdev,
  .yoga,
  .bachelor,
  .design,
  .teaching,
  .santillana,
  .customer-service {
    display: flex;
    flex-direction: column;
  }

  .my-container .scrollable-content .page-title {
    font-size: 2.5rem;
  }

  .my-container .scrollable-content .about-me {
    flex-direction: column;
  }

  .my-container .scrollable-content .about-me img {
    align-self: flex-start;
    height: 350px;
  }

  .my-container .scrollable-content .sub-title {
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .my-container .scrollable-content .senior {
    padding-bottom: 10px;
  }
  .my-container .scrollable-content .senior,
  .my-container .scrollable-content .junior {
    font-size: 1.5rem;
    line-height: 24px;
  }

  .my-container .scrollable-content .interests p {
    font-size: 1rem;
  }

  .my-container .scrollable-content .interests .icon-list {
    gap: 0.5rem;
  }

  .my-container .scrollable-content .interests .icon-list .material-icons {
    font-size: 1.7rem;
  }

  .my-container .scrollable-content .interests .icon-list .last-icon {
    padding-bottom: 15px;
  }

  .my-footer {
    margin: 5px 0;

    text-align: right;
    font-size: 0.7rem;
  }
}

/* @media screen and (min-width: 800px) and (max-width: 1024px) {
  body {
    height: fit-content;
    padding: 30px;
  }

  .my-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .static-content {
    overflow: visible;
    width: 100%;
    margin-bottom: 100px;
  }

  .role-descr {
    margin-bottom: 100px;
  }

  .static-content .menu .icons i {
    font-size: 1.5rem;
  }

  .scrollable-content {
    width: 100%;
    overflow-y: auto;
  }

  .my-footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1174px) {
  .about-me {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-me img {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1175px) and (max-width: 1309px) {
  .text-about p {
    font-size: 14px;
  }
} */
